/* register form css */

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-direction: column;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #2756e3 0%, #925acb 100%);
}
.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 15px; /* Rounded corners for the form */
  width: 400px; /* Fixed width for the form */
}
.form-container form .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
.form-container form input {
  border: 1px solid #000; /* Adds a solid border */
  border-radius: 15px; /* Makes the input corners rounded */
  padding: 10px; /* Adds padding inside the input boxes */
  margin-bottom: 15px; /* Adds space between input boxes */
  width: 100%; /* Makes the input take the full width of the parent */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}
.form-container form button {
  border: 1px solid black;
  border-radius: 15px; /* Makes the button corners rounded */
  background-color: #000;
  color: white;
  width: 100%; /* Makes the button take the full width of the parent */
  padding: 10px; /* Adds padding inside the button */
  cursor: pointer; /* Changes cursor to pointer when hovering over the button */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}
.form-container form button:hover {
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}
